<html>
<head>
	<title>Task Timer</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div><a href="/logout">Logout</a></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<h2>Entries</h2>
			</div>
			<div class="col-md-4 clearfix">
				<div class="timer-container">
					<h2>Time:</h2>
					<div class="timer">00:00:00</div>
				</div>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-8">
				
				<table class="table table-striped entries">
					<thead>
						<tr>
							<th>Description</th>
							<th>Time</th>
							<th>Date</th>
							<th>Billed</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>	
			</div>
			<div class="col-md-4">

				<form action="#" class="time">
					<input type="hidden" name="time"/>
					<table class="table">
						<thead>
							<tr>
								<th>Description</th>
								<th>Controls</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input class="form-control" type="text" name="description"/></td>
								<td><button class="btn btn-default" type="submit" title="Save" value="Save" name="submit"><span class="glyphicon glyphicon-floppy-disk"></span></button>
									<button class="btn btn-default start" title="Start" type="button" ><span class="glyphicon glyphicon-play"></span></button></td>
							</tr>
						</tbody>

					</table>
				</form>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<script src="/static/js/app.js"></script>
</body>
</html>