<!DOCTYPE HTML>
<html>
    <head>
        <title>Task Timer</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    </head>

    <body style="padding-top:40px;">



    <div id="content">
       <div class="container">
        <form class="form-signing" action="/login" method="POST"> 
           <h1>Task Timer</h1>
           <input class="form-control" type="text" name="username" placeholder="Username"/>
           <input class="form-control" type="password" name="password" placeholder="Password" />
           <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login"/>    
        </form>
       </div>
    </div>


  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>

