*{
	margin:0;
	padding: 0;
	font-weight: normal;
}
body{
	font-family: Ubuntu, Arial, sans-serif;
	font-size 14px;
}
.container{
	margin: 40px auto;
	width: 600px;
}
table{
	margin: 20px 0;
	width: 100%;
	border-collapse: collapse;
}
.entries tr:nth-child(2n){
	background: #f5f5f5;
}
th{
	background: tan;
	text-align: left;
}
th,td{
	padding: 5px;
}